body {
	background-color: #2e51a2;
}

.white {
	color: white;
}

.shortbr {
	display: block;
	margin: 10px 0;
}

.poop {
	color: white;
}

.shortinput {
	width: 300px !important;
}

.boxed {
	border: 1px solid white;
	background-color: white;
	border-radius: 25px;
	height: 400px;
	width: 350px;
}

.curved {
	border-radius: 10px;
	display: inline-block;
    height: 100%;
    vertical-align: middle;

}

.sidebyside {
	display: inline-block;
	float: left; /* idk man */
	vertical-align: middle;
	/*margin-left: auto;
    margin-right: auto;*/

}

/*img .sidebyside{
	float: left;
}
*/
.text {
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.custom {
	vertical-align:top;
}