* {
    margin: 0;
    padding: 0;
}

.media {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: Raleway;
    src: url('/static/fonts/raleway/Raleway-Regular.ttf');
};

@font-face {
    font-family: "Maven pro";
    src: url('/static/fonts/maven-pro/MavenPro-Bold.ttf');
}

@font-face {
    font-family: FuturaMedium;
    src: url('/static/fonts/futura-md-bt/FutuMediumBt.ttf');
}

@font-face {
    font-family: FuturaMedium;
    font-weight: bold;
    src: url('/static/fonts/futura-md-bt/FuturaMediumBT.ttf');
}

.view.overlay {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.well.suggestion.active {
    border: 2px solid gold;
    box-shadow: 0 0 300px 20px lightcyan
}

.well.suggestion {
    border: 2px solid transparent;
}

.col-dot {
    display: flex;
    align-items: center;
    color: black;
    font-size: 20;
}

.dot {
    height: 0.6vw;
    width: 0.6vw;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.bumper {
    width: 30px;
    display: inline-block;
}

.row.feature-display {
    height: 50%;
    margin: 0;
    padding: 0;
}

.picture-col {
    height: 100%;
    width: 100%;
    padding: 0;
    margin-left;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.synopsis-col {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.statistics-col {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.media-body {
    padding: 0;
    color: white;
    overflow-y: scroll;
    text-align: justify;
    text-justify: inter-word;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: lighter;

}

.col.synopsis {
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.row.feature {
   margin: 0;
   padding: 0;
   border-right: 2px solid white;
}

.synopsis-header {
    color: white;
    font-size: 14;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

.container.header {
    color: white;
    height: 36px;
    font-size: 14;
    text-align: center;
    width: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    padding-top: 8px;
    border-bottom: 2px solid white;
}

#feature-picture {
    width: 25%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.container.anime-picture {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#feature-display img {
    flex:1;
    object-fit: contain;
}

.multi-collapse.collapse.show {
    transition: opacity 1s ease-in-out;
}

.feature-display .feature-row {
    transition: opacity 0.75s ease-in-out;
    opacity: 0;
}

#recommended-display {
    opacity: 1;
    transition: opacity 0.75s ease-in-out;
}

.statistics-segment .adjustable, .statistics-segment .chart-legends, .statistics-segment canvas {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

.media-self-center.media-left.anime-synopsis {
    width: 30%;
    height: 50%;
    padding: 12px;
    margin: 0;
}

.feature-display .container.anime-synopsis {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    color: white;
    border-bottom: 12px solid black;
}

.media .container.anime-synopsis span {
    display: inline-block;
    text-align: justify;
}

.media-self-center.media-left.anime-statistics {
    width: 35%;
    height: 50%;
    padding: 12px;
    margin: 0;
    border-right: 2px solid white;
    border-left: 2px solid white;

}

.feature-display .container.anime-score {
    width: 100%;
    height: 15%;
    border-bottom:2px solid white;
    margin-top: 4px;
    overflow-x: scroll;
}

.container.anime-statistics {
    width: 100%;
    height: 90%;
    overflow-y: overlay;
    overflow-x: scroll;
    color: white;
    display: inline-block;
}

#feature-score {
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: black;
}

.feature-header {
    height: 28px;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
}

.feature-header.row {
    margin: 0;
    padding: 0;
}

.feature-header.col, .feature-header.col-md-3 {
    padding: 0;
    margin: 0;
}

.container.anime-words {
    width:100%;
    height: 100%;
    color: white;
    border-top: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container#anime-tags {
    display: inline-block;
    height: 29px;
    padding: 0;
    width: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    margin-right: 15px;
    text-align: left;
}

#info-tags .container.synopsis-header {
    width: 62px;
    font-size: 10;
    border-left: 15px solid transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#anime-words.container {
    font-size: 10;
    text-align: left;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 28px;
}

.container.anime-tags span{
    display: inline-block;
    transform: translateX(0);
    transition: 1s;
}

.container.anime-tags:hover span{
}

.media-header .genre {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 12px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    color: #333;
    border: 2px solid #333;
    margin-left: 1.5px;
    margin-right: 1.5px;
    font-size: 12;
    width: 100px;

}

.feature-display .semantic {
    height: 100%;
    border-left: 2px solid white;
}

#title-header {
    border-bottom: 2px solid black;
    background-color: #333;
    color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#episodeinfo {
   padding-top: 2px;
   font-size: 15;
   text-align: center;
   font-weight: bold;
}

#episodeinfo .col {
    padding: 0;
    margin: 0;
}

#media-rating {
    text-align: center;
}

#media-duration {
    text-align: center;
}

.media-header {
    background-color: rgba(225, 225, 225, 0.3);
    margin: 0;
    padding-top: 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    color: white;
    font-family: "Futura";
}

.media-header .col-auto.icon {
    text-align: right;
    font-size: 30;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

.media-header .row {
    margin: 0;
    padding: 0;
}

.media-header .col.genres {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.media-header .container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.media-header .row.genres {
   text-align: center;
   padding-top: 0px;
   padding-bottom: 4px;
}

#feature-info {
    background-color: black;
}

.media-footer {
    height: 15px;
    background-color: #333;
}
