html, body {
    height: 100%;
}

.header {
    padding: 1em;
    height: 50%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.header bootstrap-tagsinput {
    display: block;
}

.form-group {
    width: 85%
} 

.bootstrap-tagsinput{
    width: 100%;
}

.twitter-typeahead {
    display: inline;
    position: relative;
    width: 40% !important;
}

.twitter-typeahead .tt-hint {
  color: rgba(255,255,255,0.65);
}

.tt-hint, .tt-input, .tt-menu {
    width: 80%;
    background-color: white !important; 
    vertical-align: middle !important;
    border: 1px solid lightgray;
    /*border-radius: 4px;*/
}

span.twitter-typeahead .tt-suggestion:hover {
    color: #3b5998;
    height: 110%;
    font-weight: 1000;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.header-left {
    float: left;
    position: absolute;
    top : 10px;
}

.meta-info {
  font-size: 13px;
  color: gray;
}


.media {
    background-color: black;
};
