html, body {
    height: 100%;
}

.form-check {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.suggestion-text {
    color: white;
    padding: 20px;
    font-size: 20;
    text-align: center;
}

.well.suggestion {
    border-radius: 0 !important;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.container.carousel-picture {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 25%;
    flex-direction:column;
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: normal;
    position: relative;
}

.col.carousel-picture {
    margin: 0;
    padding: 0;
}

.col.carousel-picture:hover {
/*    border: 2px solid white;
    margin: -1px; */
}

.carousel-info.crop {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20;
    text-align: center;
    padding: 10%
}

.container.carousel-picture:hover{
/*    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    height: auto;
    width: auto;
    z-index: 5; */
}

.carousel-picture img {
    flex: 1;
    object-fit: cover;
    object-position: center;
}

.media .container.anime-picture2 {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    padding: 0;
    margin: 0;
}

.media .anime-picture2 img {
    flex:1;
    object-fit: contain;
}


#myform{
    z-index: 2;
}


.testy2{
    background-color: none;
}

body {
    font-style: normal;
    padding-left: 10%;
    padding-right: 10%; 
    background-color: black;
}

.filter-header {
    text-align: center;
    font-size: 18;
    padding-top: 10px;
    font-style: normal;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.media-body h2 {
    color: white;
    margin: 0;
    padding: 15;
    background-color: lightslategrey;
    width: 100%;
}

.media-body {
    overflow: hidden;
}

.media-body .container {
    height: 100%;
    width: 100%;
    background-color: black;
}

.media-logo {
    color: white;
    position: relative, fixed;
    top:0;
    text-align: center;
    vertical-align: middle;
    line-height:300px;
    font-size: 48;
    font-style: normal;
    background-color: none;
    font-family: Futura;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.card-body {
    justify-content: normal;
    flex-direction: column;
    display: flex;
}


.fancy-checkbox {
    font-size:14;
    font-weight: 400;
}

.genre-checkbox input[type="checkbox"],
.genre-checkbox .checked {
    display: none;
}

.genre-checkbox input[type="checkbox"]:checked ~.checked
{
    display: inline-block;
}

.genre-checkbox input[type="checkbox"]:checked ~.unchecked
{
    display: none;
}

.fancy-checkbox {
    font-style: normal;
    cursor: pointer;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.collapse.show {
    visibility: visible;
}

.search-button {
    background-color: white;
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
}

.tag-button {
    background-color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    padding: 6px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    font-size: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-input.tag {
    opacity: 0;
}

.tag-button.active {
    border: 2px solid green;
    color: black;
    background-color: palegreen;
}

.tag-button.inactive {
    border: 2px solid lightslategray;
    color: lightslategray;
}

.genre-button-inner {
   border: 1px solid rgb(219, 112, 147);
   display: inline-block;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 12px;
   font-weight: 300;
   text-transform: uppercase;
   padding: 2px 8px;
   border-radius: 4px;
   cursor: pointer;
}

.genre-button-inner.active {
    background-color: rgb(219, 112, 147);
    color: white;
}

.genre-button-inner.active:hover {
    background-color: rgb(159, 74, 103);
    color: white;
}

.genre-button-inner.inactive {
   background-color: rgb(27, 27, 27);
   color: lightslategray; 
   border-color: lightslategray;
}

.genre-button-inner.inactive:hover {
    background-color: rgb(159, 74, 103);
    color: lightslategrey;
    border-color: lightslategrey;
}

.tooltip > .tooltip-inner {
    background-color: rgb(159, 74, 103);
    color: white;
}

.tooltip .arrow:before {
    border-right-color: rgb(159, 74, 103) !important;
}

.sfw-button {
   border: 1px solid red;
   display: inline-block;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 12px;
   font-weight: 300;
   text-transform: uppercase;
   padding: 2px 8px;
   border-radius: 4px;
   cursor: pointer;
   margin-left: 10px;
   color: red;
}

.sfw-button.active {
    border: 1px solid green;
    color: green;
    width: 70px !important;
    font-size: 12px;
}

.tag-button.inactive:hover {
   background-color: lightpink;
   border-color: hotpink;
   color: white;
}

.tag-button.active:hover {
    background-color:lightpink;
    border-color:hotpink;
}   
  
.form-check.filter {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.header {

    background-color: black;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.header bootstrap-tagsinput {
    display: block;
}

.form-group {
    width: 100%;
    background: rgba(88, 88, 88, 0.3);
    position: relative;
    margin: 0;
    padding: 0;
}

.input-group {
    margin: 0 !important;
}

.input-group span {
    z-index: auto !important;
}

.bootstrap-tagsinput {
    height: 36px;
    width: 90%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 0px;
    border-right: 0.5px solid grey;
    padding: 6.5;
}

.wordinput .bootstrap-tagsinput {
    border-top: 0.5px solid grey;
    border-bottom-left-radius: 4px;
}

.animeinput .bootstrap-tagsinput{
    border-bottom: 0.5px solid grey;
    border-top-left-radius: 4px;
}

.input-group-append {
    width: 10%;
}

.tag.label.label-info {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10;
    font-weight: 300;
    padding: 6px; 
    background-color: grey;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    color: red;
    font-weight: 700;
    display: none;
}

.input-group-append button {
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    border-left: 0.5px solid grey;
}

.wordinput .input-group-append button {
    border-top: 0.5px solid grey;
    border-bottom-right-radius: 4px;
}

.animeinput .input-group-append button {
    border-bottom: 0.5px solid grey;
    border-top-right-radius: 4px;
}

.twitter-typeahead {
    display: inline;
    position: relative;
}

.twitter-typeahead .tt-hint {
  color: rgba(255,255,255,0.65);
}

.tt-hint, .tt-input, .tt-menu {
    width: 450px;
    background-color: white !important; 
    vertical-align: middle !important;
    border: 1px solid lightgray;
    z-index: 10;
    /*border-radius: 4px;*/
}

.tt-cursor {
    color: #3b5998;
    height:110%;
    font-weight: 1000;
}

form hr {
    background-color: white;
}
/*
span.twitter-typeahead .tt-suggestion:hover {
    color: #3b5998;
    height: 110%;
    font-weight: 1000;
}*/

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.footer {
    margin-top: 5%;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 12;
    background: rgba(88, 88, 88, 0.3);
}

.meta-info {
  font-size: 13px;
  color: gray;
}


.media {
    background-color: black;
}

.expandable {
    transition: transform .2s;
}

.expandable:hover {
    transform: scale(1.07);
    z-index:1;
]
