<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<script src="/static/bootstrap-tagsinput.js"></script>
		<link rel="stylesheet" href="/static/bootstrap-tagsinput.css">
		<link rel="stylesheet" href="/static/css/search.css" type="text/css">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
		<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
		<script src="/static/typeahead.bundle.js"></script>
		<script src="/static/bloodhound.js"></script>
		<script src="/static/aniai.js"></script>
		<link rel="stylesheet" href="/static/mdb/css/mdb.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Maven+pro"> -->
	    </head>
	    
	    <body>
		<div class="header">
		    <div class="header-left">
			<p> Prototype 3
			<br> This is a test </br>
			<i class="fa fa-external-link"></i>
			</p>
		    </div>
		    <h1 style="font-size: 85px; font-family:Futura; color:white; text-align:center">Aniai&#24859</h1>
		    <form class = "form-inline global-search" id="myform">
			<div class="form-group" style:"height:30px vertical-align:bottom">
			    <div id="scrollable-dropdown-menu">
				<input id="animeinput" type="text" name="animesearch" placeholder="Similar anime...">
			    </div>
				<!-- <input id="input" type="text" name="search" placeholder="Similar anime..."> -->
			</div>
			<button type="submit" id="submit" class="btn btn-info btn-submit">Submit</button>
			<!-- can change this to type="button" and use jquery -->
			<!-- Show Additional Settings:
			<br> Hide Same Series <input id="checkBox" type="checkbox" name="hide_ss">
			<br> Licensed in America <input id="checkBox" type="checkbox" name="licensed">
			<br> Finished <input id="checkBox" type="checkbox" name="finished">
			<br> Time Range Early:  <input id="time" type="text" name="time">
			<br> Show:
			TV: <input id="checkBox" type="checkbox" name="TV">
			Movies: <input id="checkBox" type="checkbox" name="movie">
			OVA: <input id="checkBox" type="checkbox" name="ova">
			ONA: <input id="checkBox" type="checkbox" name="ona">
			SPECIAL: <input id="checkBox" type="checkbox" name="special">
			<br> Minimum Rating: <input id="minratinginput" type="text" name="min_rating">
			<br> NSFW off <input id="checkBox" type="checkbox" name="nsfw"> -->
		       <!--  Debug Controls:
			Doc2Vec Reviews <input type="radio", name="method" value = "doc2vecreviews" >
			Doc2Vec Synopsis <input type="radio", name="method" value = "doc2vecsynopsis" >
			tSVD w/ Cossim Reviews <input type="radio", name="method" value = "tsvdreviews" >
			tSVD w/ Cossim Synopsis <input type="radio", name="method" value = "tsvdynopsis" disabled>
			tfIDF w/ Cossim Synposis <input type="radio", name="method" value = "oldmethod" disabled> -->
			<br>
		    </form>
		</div>
	<!--
	<div style="padding:2%">
	{% if data%}
	<ul class="list-unstyled">
	  {% for d in data[:10] %}
	  <li class="media">
	    <a class = "media-left media-bottom" href="#">
		<img src={{d["anime_image_url"]}} alt="Generic placeholder image">
	    </a>
	    <div class="media-body">
	      <h5 class="mt-0 mb-1">List-based media object</h5>
	      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	    </div>
	  </li>
	  {% endfor %}
	</ul>
	{% endif %}
	</div> -->
	<!--<div class="btn-group" data-toggle="buttons">
	    <label class="btn btn-primary active"> label button
		<input type="checkbox" checked>
	    </label>
	</div>
	    <form>
	      <div class="form-group">
		<div class="btn-group col-xs-12" data-toggle="buttons">
		    <label class="btn btn-default">
			<input type= "checkbox" name="fruit" id="apple" value="apple">apple
		    </label>
		    <label class="btn btn-default">
			<input type ="checkbox" name = "fruit1" id="pear" value="pear">pear
		    </label>
		    <label class="btn btn-default">
			<input type="checkbox" name="meowmeow" id="meowmeow" value="mew">pear2
		    </label>

		</div>
	</div>
		<input type="checkbox" id="thisisacheckbox"><label for="thisisacheckbox" id="labelid"></label>test if works
		<button type="submit" id="filterForm" class="btn btn-default">Submit</button>
	    </form>
-->
<!--	<form>
	    <div class="form-check">
		<input type="checkbox" class="form-check-input tag" id="exampleCheck1" name="test label"><label for="exampleCheck1" class="tag-button">testbuttnnow</label>
	    </div>
            <div class="form-group">
                <label for="inputaddr">Addresstest"</label>
                <input type="text" class="form-control" id="inputaddr" placeholder="your address" name="post">
            </div>
	    <button type="submit" class="btn btn-primary">Submit</button>
	</form>
-->	

	{% if data %}
	    <div>
	<p>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	    Toggle filter
	  </button>
	</p>
	<div class="collapse" id="collapseExample">
	    <form>
	<!--        <div class="btn-group col-xs-12" data-toggle="buttons">
		    <label class="btn btn-default">
			<input type= "checkbox" name="fruit" id="apple" value="apple">apple
		    </label>
		    <label class="btn btn-default">
			<input type ="checkbox" name = "fruit1" id="pear" value="pear">pear
		    </label>
		    <label class="btn btn-default">
			<input type="checkbox" name="meowmeow" id="meowmeow" value="mew">pear2
		    </label>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	    </form> -->
		<div class="form-group row">
		<div class="col-md-6">
		<div class="form-check">
		    <input type="checkbox" class="form-check-input tag" id="actionTag" name="actionTag" checked>
		    <label for="actionTag" class="tag-button active">action</label>
		    <input type="checkbox" class="form-check-input tag" id="adventureTag" name="adventureTag" checked>
		    <label for="adventureTag" class="tag-button active">adventure</label>
		    <input type="checkbox" class="form-check-input tag" id="carsTag" name="carsTag" checked>
		    <label for="carsTag" class="tag-button active">cars</label>
		    <input type="checkbox" class="form-check-input tag" id="comedyTag" name="comedyTag" checked>
		    <label for="comedyTag" class="tag-button active">comedy</label>
		    <input type="checkbox" class="form-check-input tag" id="dementiaTag" name="dementiaTag" checked>
		    <label for="dementiaTag" class="tag-button active">dementia</label>
		</div>
		<div class="form-check">
		    <input type="checkbox" class="form-check-input tag" id="demonsTag" name="demonsTag" checked>
		    <label for="demonsTag" class="tag-button active">demons</label>
		    <input type="checkbox" class="form-check-input tag" id="dramaTag" name="dramaTag" checked>
		    <label for="dramaTag" class="tag-button active">drama</label>
		    <input type="checkbox" class="form-check-input tag" id="fantasyTag" name="fantasyTag" checked>
		    <label for="fantasyTag" class="tag-button active">fantasy</label>
		    <input type="checkbox" class="form-check-input tag" id="gameTag" name="gameTag" checked>
		    <label for="gameTag" class="tag-button active">game</label>
		    <input type="checkbox" class="form-check-input tag" id="historicalTag" name="historicalTag" checked>
		    <label for="historicalTag" class="tag-button active">historical</label>
		</div>
	    </div>
		<div class="col-md-6">
		    <div class="form-group">
			<input type="text" class="form-control" id="inputAddress" placeholder="1234">
			<label for="inputAddress"> Address</label>
            </div>
        </div>

    <div> 
</div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
    <div class="media">
        <a class = "media-left media-bottom" style="padding-bottom: 0px" href = "https://www.google.com" target="_blank">
            <div class="view overlay" style="cursor:pointer">
                <img src={{data[0]["anime_image_url"]}} class="img-fluid" alt = "Anime Image" style = "height:50%">
                <div class="mask flex-center rgba-black-light">
                    <ul class="fa-ul" style="margin-left:0">
                      <li><p class="white-text" style="font-size: 20px">watch on <img src="/static/images/Crunchyroll_24x24.png" style="display:inline"><span style="font-family:Maven pro">crunchyroll </span><i class="fa fa-external-link"></i></p></li>
                    <li><i class="fa fa-play"  style="font-size:60px; color:white"></i></li>
                    </ul>
                </div>
            </div>
        </a>
        <div class="media-body" style="height:50%">
            <h5> This is a header </h5>
        </div>
    </div>

    <div id="cardCarousel" class="carousel slide" date-ride="carousel">
    <ol class="carousel-indicators">
       <li data-target="#cardCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#cardCarousel" data-slide-to="1"></li>
       <li data-target="#cardCarousel" data-slide-to="2"></li>
    </ol>
    <div class = "carousel-inner" style="overflow:visible">
        <div class="carousel-item active">
    <!--        <div class="container">
                <div class="row">
                    {% for d in data[:8] %}
                    <div class="col-sm-3">
                        <div class="card">
                            <img class="card-img-top" src={{d["anime_image_url"]}}>
                        </div>
                     </div>
                    {% endfor %}
                </div>
            </div> -->

            <div class="card-group">
            {% for d in data[:8] %}
                 <div class="card expandable" id="suggestionCard" style="cursor:pointer" data-anime-id={{d["anime_id"]}} data-title={{d["anime_english_title"]}} data-anime-index={{d["anime_index"]}} data-synposis='{{d["anime_synopsis"]}}' data-url={{d["anime_image_url"]}}>
                 <!--    <div class="view zoom"> -->
                         <img class="card-img-top img-fluid" src="{{d["anime_image_url"]}}">
                         <div class="card-body" style="background-color:black;padding-bottom:20px">
                             <h4 class="card-title" style="color:white;text-align:center">{{d["anime_english_title"]}}</h4>
                         </div>
                     <!--</div>-->
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <h1> item2 </h1>
        </div>
        <div class="carousel-item">
            <h1> item3 </h1>
        </div>
    </div>

    <a class="carousel-control-prev" href="#cardCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#cardCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

       <script>
        $(".card.expandable").unbind().click(function() {
            console.log("in card")
            var anime_id = $(this).attr('data-anime-id');
            var anime_img = $(this).attr('data-anime-id');
            var anime_id = $(this).attr('data-anime-id');
            var anime_image_url = $(this).attr('data-url')
            var anime_title = $(this).attr('data-title')
            var synopsis = $(this).attr("data-synposis") // this is messed up because of ""
            // Gary: Hey Cheyenne, we can store the data into the divs and jquery should be able to pick up on it
            // Seems slightly better than going through all json until thing is found

            // but either way works I guess since overhead into putting it into html data tag doesn't seem to be that bad. 
            
            // $.getJSON("/static/data/anime_info.json", function(data) {
            //      data.forEach(function(anime) {
            //          if (anime.anime_id == anime_id) {

            //      var anime_title = anime.anime_synopsis;

            //      var anime_image_url = anime.anime_image_url;
            //      $(".media").replaceWith(
            //         '<div class="media">' +
            //             '<a class = "media-left media-bottom">' +
            //                 '<img src = ' + anime_image_url + " alt = 'Anime Image' style = 'height:50%'></a>" +
            //              '<h5> ' + anime_title + ' </h5></div>');  };     }); });
             $(".media").replaceWith(
                    '<div class="media">' +
                        '<a class = "media-left media-bottom">' + '<img src = ' + anime_image_url + " alt = 'Anime Image' style = 'height:50%'></a>" +
                         '<h5> ' + synopsis + ' </h5></div>');
        }); </script>
 
{% endif %}

<!--    <script>
        $.getJSON("/static/data/anime_info.json", function(data) {
             console.log(data);
             document.getElementById('anime_info').innerHTML = data;
        });
    </script> -->


<script>
$('.tag-button').click(function(){
   alert("buttonclicked");
   if ($(this).hasClass('active')){
    $(this).removeClass('active')
} else {
   $(this).addClass('active')
}
});
</script>
        <script type="text/javascript" src="/static/mdb/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/mdb/js/mdb.min.js"></script>
    </body>
</html>
