<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <script src="/static/bootstrap-tagsinput.js"></script>
        <link rel="stylesheet" href="/static/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="/static/css/search.css" type="text/css">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <script src="/static/typeahead.bundle.js"></script>
        <script src="/static/bloodhound.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="header-left">
            <p> Prototype 3
            <br> This is a test </br>
            </p>
            
            </div>
            <h1 style="font-size: 85px; font-family:Futura; color:white">Aniai&#24859</h1>
            <div class="form-group" style:"height:30px vertical-align:bottom">
                <input id="input" type="text" placeholder="Similar anime...">
                    <script>
                        var anime = new Bloodhound({
                            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('anime_english_title'),
                            queryTokenizer: Bloodhound.tokenizers.whitespace,
                            prefetch: {
                                url: '/static/anime_titles.json'
                            }
                        });
                        anime.initialize();
                        $('input').tagsinput({
                            typeaheadjs: {
                                name: 'anime_titles',
                                displayKey: 'anime_english_title',
                                valueKey: 'anime_english_title',
                                source: anime.ttAdapter(),
                                minLength: 3
                            },
                            confirmKeys: [13, 44],
                            maxTags: 5,
                            freeInput: false,
                            delimiter: ','
                        });
                    </script>
            </div>
        </div>
    </body>
</html>
